{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        select {
            font-family:'FontAwesome', 'Helvetica', 'Arial';
        }

        .addItems:hover, .removeItems:hover {
            cursor: pointer;
        }

        .removeItems {
        {#color: #D9534F;#}
        }

        .removeItems:hover {
        {#color: #C9302C;#}
        }

        .addItems {
        {#color: #5CB85C;#}
        }

        .addItems:hover {
        {#color: #449D44;#}
        }

        #formResourcesCreatorContent {
            display: none;
        }
    </style>
{% endblock %}

{% block panelTitle %}
    <i class="icon fa fa-cubes"></i> ImaganaResourcesCreator <small>Outil de création de ressources pour Imagana</small>
{% endblock %}

{% block resourcesCreatorContentOverride %}
    <div class="col-md-5 ">
        <div class="row">
            <label>{{ ressources | capitalize | default('Ressources') }} disponibles</label>
        </div>
        <div class="row">
            <select name="availableResources" multiple class="col-md-12">
                {% if availableResources is defined and availableResources is not empty %}
                    {% for resource in availableResources %}
                        <option value="{{ resource.id }}">
                            {% if resource.title is defined %}
                                {{ resource.title }}
                            {% elseif resource.description is defined %}
                                {{ resource.description }}
                            {% endif %}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="text-center">
            {#<i class="fa fa-chevron-circle-left fa-2x removeItems"></i>
            <i class="fa fa-chevron-circle-right fa-2x addItems"></i>#}

            <div class="row margin-top-md">
                <a class="btn btn-success btn-sm addItems" href="" disabled="disabled"><i class="fa fa-share-square-o"></i> Ajouter</a>
            </div>
            <div class="row margin-top-md">
                <a class="btn btn-danger btn-sm removeItems" href="" disabled="disabled"><i class="fa fa-trash-o"></i> Supprimer</a>
            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <label>{{ ressources | capitalize }} associés</label>
        <select name="associatedResources[]" multiple="multiple" class="col-md-12">
            {% if associatedResources is defined and associatedResources is not empty %}
                {% for resource in associatedResources %}
                    <option value="{{ resource.id }}">
                        {% if resource.title is defined %}
                            {{ resource.title }}
                        {% elseif resource.description is defined %}
                            {{ resource.description }}
                        {% endif %}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

<form type="hidden" id="formResourcesCreatorContent" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" name="imagana_resourcescreatorbundle_imaganaassociator">
    <input type="hidden" name="formAction" value="" />
    <select name="formResources[]" multiple="multiple" class="col-md-12">
    </select>
</form>
{% endblock %}

{% block resourcesCreatorContent %}

{% endblock %}

{% block resourcesCreatorButton %}
    {#<a type="button" class="btn btn-primary" href="" id="submitForm"><i class="fa fa-check"></i> Valider</a>#}
    <a type="button" class="btn btn-default" href="" ><i class="fa fa-reply"></i> Annuler</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".addItems").click(function(event) {
            event.preventDefault();

            var selectedSelectBox = $("select[name='availableResources']");
            var itemsToAdd = getSelectedItems(selectedSelectBox);

            addItemsToSelectBox($("select[name='formResources[]']"), itemsToAdd);
            setItemsToSelectedState(itemsToAdd);
            submitFormWithAction("add");
        });

        $(".removeItems").click(function(event) {
            event.preventDefault();

            var selectedSelectBox = $("select[name='associatedResources[]']");
            var itemsToRemove = getSelectedItems(selectedSelectBox);

            addItemsToSelectBox($("select[name='formResources[]']"), itemsToRemove);
            setItemsToSelectedState(itemsToRemove);
            submitFormWithAction("delete");
        });

        var submitFormWithAction = function(action) {
            $('input[name="formAction"]').val(action);
            $("form[id=formResourcesCreatorContent]").submit();
        };

        $("select[name='availableResources']").change(function() {
            if($(".addItems").attr("disabled") == "disabled") {
                setActiveStateToBtn($(".addItems"));
            }

            if($(".removeItems").attr("disabled") != "disabled") {
                setDisableStateToBtn($(".removeItems"));
            }
        });

        $("select[name='associatedResources[]']").change(function() {
            if($(".removeItems").attr("disabled") == "disabled") {
                setActiveStateToBtn($(".removeItems"));
            }

            if($(".addItems").attr("disabled") != "disabled") {
                setDisableStateToBtn($(".addItems"));
            }
        });

        $("select").change(function() {
            $("select").not(this).each(function() {
                unselectSelectBox($( this ));
            });
        });

        var setActiveStateToBtn = function(btn) {
            btn.removeAttr( "disabled" );
        };

        var setDisableStateToBtn = function(btn) {
            btn.attr("disabled", "disabled" );
        };

        var unselectSelectBox = function(selectBox) {
            $("option:selected", selectBox).removeAttr("selected");
        };

        var selectAllItemsInSelectBox = function(selectBox) {
            $("option", selectBox).attr("selected", "selected");
        };

        var getSelectedItems = function(selectBox) {
            var selectedResources = [];

            $("option:selected", selectBox).each(function() {
                var newSelectedResources = [$( this ).val(), $( this ).text()];
                selectedResources.push(newSelectedResources);
            });

            return selectedResources;
        };

        var addItemsToSelectBox = function(selectBox, itemsArray) {
            jQuery.each(itemsArray, function(i, val) {
                if(findItemByValueInSelectBox(selectBox, val[0]) == 0) {
                    selectBox.append($('<option>', {
                        value: val[0],
                        text : val[1]
                    }));
                }
            });
        };

        var findItemByValueInSelectBox = function(selectBox, itemValueTofind) {
            return $("option[value='" + itemValueTofind +"']", selectBox).length
        };

        var setItemsToSelectedState = function(items) {
            jQuery.each(items, function(i, val) {
                $("option[value='" + val[0] +"']").attr("selected", true);
            });
        };
    </script>
{% endblock %}