{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block resourcesCreatorContent %}
    {% if niveaux is defined and niveaux is not empty %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>
                <i class="fa fa-wrench"></i> Nom technique
            </th>
            <th>
                <i class="fa fa-tag"></i> Titre
            </th>
            <th>
                <i class="fa fa-folder"></i> Catégorie
            </th>
            <th>
                <i class="fa fa-calendar"></i> Date de création
            </th>
            <th>
                <i class="fa fa-user"></i> Créateur
            </th>
        </tr>
        </thead>
        <tbody>
        {% for niveau in niveaux %}
        <tr>
            <td>
                <a href="{{ path('imagana_resources_creator_level_edit',{"param":niveau.technicalName }) }}"><i class="fa fa-pencil-square-o"></i> {{ niveau.technicalName }}</a>
            </td>
            <td>
                {{ niveau.title}}
            </td>
            <td>
                {{ niveau.levelCategory }}
            </td>
            <td>
                {{ niveau.creationDate | date("d/m/Y H:i:s", "Europe/Paris")}}
            </td>
            <td>
                {{ niveau.creator }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-warning margin-top-md">
            <i class="icon fa fa-exclamation-circle"></i> <strong>Aucun niveaux trouvés !</strong>
        </p>
    {% endif %}
{% endblock %}

{% block resourcesCreatorButton %}
    <a type="button" class="btn btn-primary" href="{{ path('imagana_resources_creator_level_create')}}"><i class="icon fa fa-puzzle-piece"></i> Créer un niveau</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}