{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block resourcesCreatorContentOverride %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice alert alert-success">
            <i class="icon fa fa-check-circle"></i> {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-notice alert alert-danger">
            <i class="icon fa fa-exclamation-circle"></i> {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            {% if technicalName is defined %}
                {{ form_start(form, {'action': path(route,{"param":technicalName}), 'method': 'POST' , 'attr': {'id': 'formResourcesCreatorContent'} }) }}
            {% else %}
                {{ form_start(form, {'action': path(route), 'method': 'POST' , 'attr': {'id': 'formResourcesCreatorContent'} }) }}
            {% endif %}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>

        {% if technicalName is defined %}
            {{ render(controller('ImaganaResourcesCreatorBundle:Levels:renderAssociatedResources', {'paramResourceName': technicalName })) }}
        {% endif %}

    </div>
{% endblock %}

{% block resourcesCreatorButton %}
    <a type="button" class="btn btn-primary" href="" id="submitForm"><i class="fa fa-check"></i> Valider</a>
    <a type="button" class="btn btn-default" href="{{ path(previousRoute) }}" ><i class="fa fa-reply"></i> Annuler</a>
    {% if technicalName is defined %}
        <a type="button" class="btn btn-danger pull-right" href="{{ path('imagana_resources_creator_levels_deletor', {"paramResourceName": technicalName }) }}" ><i class="fa fa-trash-o"></i> Supprimer</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#submitForm').click(function (event) {
            event.preventDefault();
            $("form[id=formResourcesCreatorContent]").submit();
        });
    </script>
{% endblock %}