{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block resourcesCreatorContent %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice alert alert-success margin-top-md">
            <i class="icon fa fa-check-circle"></i> {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-notice alert alert-danger margin-top-md">
            <i class="icon fa fa-exclamation-circle"></i> {{ flashMessage }}
        </div>
    {% endfor %}
    {% if objectifs is defined and objectifs is not empty %}
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>
                    <i class="fa fa-wrench"></i> Nom de la catégorie
                </th>
                <th>
                    <i class="fa fa-calendar"></i> Date de création
                </th>
                <th>
                    <i class="fa fa-user"></i> Créateur
                </th>
            </tr>
            </thead>
            <tbody>
            {%  for objectif in objectifs  %}
            <tr>
                <td>
                    <a href="{{ path('imagana_resources_creator_pedagogicalpurpose_edit', {'param': objectif.description}) }}"><i class="fa fa-pencil-square-o"></i> {{  objectif.description }}</a>
                </td>
                <td>
                   {{ objectif.creationDate | date("d/m/Y H:i:s", "Europe/Paris") }}
                </td>
                <td>
                    {{ objectif.creator }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning margin-top-md">
            <i class="icon fa fa-exclamation-circle"></i> <strong>Aucun objectifs pédagogiques trouvés !</strong>
        </p>
    {% endif %}
{% endblock %}

{% block resourcesCreatorButton %}
    <a type="button" class="btn btn-primary" href="{{ path('imagana_resources_creator_pedagogicalpurpose_create') }}"><i class="icon fa fa-crosshairs"></i> Créer un objectif pédagogique</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}