{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .nav-tabs {
            border-bottom: 1px solid #428BCA;
        }

        .nav.nav-tabs li:not(.active) a {
            border: 1px solid #DDDDDD;
            border-bottom: 1px solid #428BCA;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #FFFFFF;
            font-weight: bold;
            border-color: #428BCA;
            background-color: #357EBD;
        }

        table th, table th a {
            color: #357EBD;
            background-color: #FFFFFF;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
    'icon': 'fa fa-cog',
    'name': 'administration'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'Creation de ressources Imagana',
    'href': '#'
    }
    ])
    }}
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_SUPERMANAGER') %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon fa fa-cubes"></i> ImaganaResourcesCreator
                        <small>Outil de création de ressources pour Imagana</small>
                    </h3>
                </div>
                <div class="panel-body">
                    {% block resourcesCreatorContentOverride %}
                        <ul class="nav nav-tabs" role="tablist">
                            <li {% if tab == "niveaux" %}class="active"{% endif %}><a href="{{ path ("imagana_resources_creator_levels_list") }}"><i class="fa fa-puzzle-piece"></i> Niveaux de jeu <span class="badge badge-info"></span></a></li>
                            {#<li {% if tab == "modules" %}class="active"{% endif %}><a href="#"><i class="fa fa-cubes"></i> Modules pédagogiques <span class="badge badge-info"></span></a></li>#}
                            <li {% if tab == "categories" %}class="active"{% endif %}><a href="{{ path ("imagana_resources_creator_categories_list") }}"><i class="fa fa-folder-o"></i> Catégories des niveaux <span class="badge badge-info"></span></a></li>
                        </ul>
                    {% endblock %}
                    {% block resourcesCreatorContent %}
                    {% endblock %}
                </div>
                <div class="panel-footer">
                    {% block resourcesCreatorButton %}
                    {% endblock %}
                </div>
            </div>

    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-danger margin-top-md">
                        <i class="icon fa fa-exclamation-triangle"></i> Vous ne possèdez pas les droits nécéssaires pour accèder à cet outil !
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}